@import 'mixin';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1.6em;
  background-color: var(--navbar-background-color);
}

::-webkit-scrollbar-thumb {
  border: 0.4em solid transparent;
  background-clip: padding-box;
  border-radius: 100rem;
  background-color: var(--scrollbar-color);
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  --font-family: 'Poppins', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: var(--body-color);
  background-color: var(--body-background-color);
  transition: var(--transition);
  transition-property: color, background-color;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: var(--main-width);
  max-width: var(--main-max-width);
  margin: 0 auto;
  padding-top: var(--navbar-height);
}

a {
  font-size: 1.6rem;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.iconify {
  color: var(--icon-color);
  transition: var(--transition);
  transition-property: color;
}

.primary-color {
  color: var(--primary-color);
}

.hide {
  display: none !important;
}

.shimmer {
  background: var(--shimmer-background);
  background-size: 600% 600%;
  animation: shimmer 1s ease infinite;
  animation-direction: reverse;
}

@keyframes shimmer {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

code {
  font-family: 'Roboto Mono', monospace;
  font-size: 90%;
  background: var(--background-color-04);
  padding: 0.2rem 0.6rem;
  border-radius: 0.2rem;
  transition: var(--transition);
  transition-property: color, background-color;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-05 {
  margin-bottom: 0.5rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.linear-gradient-text {
  background-image: linear-gradient(to right, #f8c417, #e61972);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.on-loading {
  height: 0;
  overflow: hidden;
}
