body.light {
  --linear-background: linear-gradient(to right, #f8c417, #e61972);
  --focus-color: #0060df;
  --primary-color: #e61972;
  --secondary-color: #f57173;
  --secondary-color-on-hover: #f5717365;
  --white-color: #fff;
  --scrollbar-color: rgba(0, 0, 0, 0.15);
  --shell-command-color: #3333b3;

  --text-color-01: #1e1e1e;
  --text-color-02: #3b3b3b;
  --text-color-03: #555555;
  --text-color-04: #767676;
  --text-color-05: #939393;
  --text-color-06: #ffffff;
  --background-color-01: #ffffff;
  --background-color-02: #fefefe;
  --background-color-03: #fafafa;
  --background-color-035: #f4f4f4;
  --background-color-04: #eeeeee;
  --background-color-05: #e5e5e5;
  --border-color: #dfe1e5;
  --border-color: #eeeeef;
  --box-shadow-01: 0 2px 5px 0 rgba(74, 74, 74, 0.2);
  --box-shadow-02: 0 0 5px 2px rgba(74, 74, 74, 0.2);

  --info-color: #0d3c61;
  --info-background-color: #e8f4fd;
  --warn-color: #9c4221;
  --warn-background-color: #fffaf0;
  --error-color: #601410;
  --error-background-color: #fceeee;

  --code-background-color: var(--background-color-04);

  --shimmer-background: linear-gradient(270deg, var(--background-color-05), var(--background-color-04), var(--background-color-03));

  --body-color: var(--text-color-02);
  --body-background-color: var(--background-color-03);

  --navbar-background-color: var(--background-color-01);
  --navbar-box-shadow: var(--box-shadow-01);
  --post-image-box-shadow: var(--box-shadow-01);

  --icon-color: var(--text-color-03);

  --logo-text-color: var(--text-color-03);
  --logo-text-color-on-hover: var(--primary-color);

  --table-head-background-color: var(--background-color-03);
  --table-body-background-color: var(--background-color-02);

  --post-background-color: var(--background-color-02);
  --post-title-color: var(--text-color-02);
  --post-title-border-color: var(--border-color);
  --post-additional-info-color: var(--text-color-04);
  --post-code-background-color: var(--background-color-03);
  --related-posts-background-color: var(--background-color-02);
  --related-post-background-color-on-hover: var(--background-color-03);
  --related-posts-title-color: var(--secondary-color);
  --related-post-border-color: var(--border-color);
  --displayed-posts-count-color: var(--text-color-04);
  --displayed-posts-count-rule-background-color: var(--secondary-color);
  --displayed-posts-count-100-rule-background-color: var(--background-color-04);

  --post-summary-background-color: var(--background-color-01);
  --post-summary-category-color: var(--text-color-06);
  --post-summary-category-background-color: var(--secondary-color);
  --post-summary-date-color: var(--text-color-06);
  --post-summary-date-background-color: var(--secondary-color);
  --post-summary-title-color: var(--text-color-03);
  --post-summary-extract-color: var(--text-color-04);
  --post-summary-author-color: var(--primary-color);
  --post-summary-author-icon-color: var(--text-color-04);
  --post-summary-title-color-on-hover: var(--primary-color);
  --post-summary-template-background-color: var(--background-color-02);
  --post-summary-template-top-section-background-color: var(--background-color-03);
  --post-summary-template-title-background-color: var(--background-color-03);
  --post-summary-template-extract-background-color: var(--background-color-03);
  --post-summary-template-author-background-color: var(--background-color-03);

  --tag-color: var(--text-color-04);
  --tag-background-color: var(--background-color-04);
  --category-color: var(--text-color-02);
  --category-background-color: var(--background-color-04);
  --category-color-on-select: var(--text-color-06);
  --category-background-color-on-select: var(--secondary-color);
  --category-background-color-on-hover: var(--secondary-color-on-hover);

  --input-background-color: var(--background-color-01);
  --input-border-color: var(--border-color);
  --input-color: var(--body-color);

  --tab-links-border-color: var(--border-color);
  --tab-links-color: var(--color-03);
  --tab-links-background-color: var(--background-color-03);
  --tab-link-background-color-on-hover: var(--background-color-04);
  --active-tab-link-color: var(--primary-color);
  --active-tab-link-background-color: var(--background-color-04);

  --code-line-number-color: var(--text-color-04);
  --code-line-number-background-color: var(--background-color-04);
  --code-copy-icon-color: var(--text-color-04);
  --code-copy-icon-color-on-hover: var(--primary-color);
  --code-shadow-on-scroll-left: 17px 0 16px -16px rgba(0, 0, 0, 0.4) inset;

  --comment-background-color: var(--background-color-03);
  --comment-header-border-color: var(--border-color);
  --comments-join-discussion-color: var(--info-color);
  --comments-join-discussion-background-color: var(--info-background-color);

  --buy-me-coffee-color: var(--warn-color);
  --buy-me-coffee-background-color: var(--warn-background-color);
  --buy-me-coffee-button-color: var(--white-color);
  --buy-me-coffee-button-background-color: #dd6b20;

  --footer-color: var(--text-color-03);
  --footer-background-color: var(--background-color-03);

  --advanced-search-inputs-background-color: var(--background-color-02);

  --load-more-posts-color: var(--secondary-color);
  --load-more-posts-background-color: var(--background-color-01);
  --load-more-posts-border-color: var(--secondary-color);
  --load-more-posts-color-on-hover: var(--white-color);
  --load-more-posts-background-color-on-hover: var(--secondary-color);
  --load-more-posts-border-color-on-hover: var(--secondary-color);
  --blockquote-color: #7c8692;
  --blockquote-background-color: #fafafa;
  --blockquote-border-color: var(--border-color);
}

body.dark {
  --linear-background: linear-gradient(to right, #f8c417, #e61972);
  --primary-color: #e61972;
  --secondary-color: #f57173;
  --secondary-color-on-hover: #f5717365;
  --white-color: #fff;
  --scrollbar-color: #727272;
  --shell-command-color: #3333b3;

  --text-color-01: #fafafa;
  --text-color-02: #eeeeee;
  --text-color-03: #cecece;
  --text-color-04: #b1b1b1;
  --text-color-05: #a0a0a0;
  --text-color-06: #9b9a9a;
  --background-color-01: #181a1f;
  --background-color-02: #21252b;
  --background-color-03: #282c34;
  --background-color-035: #2c313a;
  --background-color-04: #2c313a;
  --background-color-05: #353b46;
  --border-color: #353b46;
  --box-shadow-01: 0 -2px 5px rgba(0, 0, 0, 1);
  --box-shadow-02: 0 -2px 10px rgba(0, 0, 0, 1);

  --shimmer-background: linear-gradient(270deg, var(--background-color-05), var(--background-color-04), var(--background-color-03));

  --info-color: #a6d5fa;
  --info-background-color: #030e18;
  --warn-color: #ffd599;
  --warn-background-color: #190f00;
  --error-color: #fceeee;
  --error-background-color: #601410;

  --code-background-color: var(--background-color-04);

  --body-color: var(--text-color-03);
  --body-background-color: var(--background-color-03);

  --navbar-background-color: var(--background-color-01);
  --navbar-box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  --post-image-box-shadow: var(--box-shadow-01);

  --icon-color: var(--text-color-03);

  --table-head-background-color: var(--background-color-03);
  --table-body-background-color: var(--background-color-02);

  --logo-text-color: var(--text-color-03);
  --logo-text-color-on-hover: var(--primary-color);

  --post-background-color: var(--background-color-02);
  --post-title-color: var(--text-color-02);
  --post-title-border-color: var(--border-color);
  --post-additional-info-color: var(--text-color-04);
  --post-code-background-color: var(--background-color-03);
  --related-posts-background-color: var(--background-color-02);
  --related-post-background-color-on-hover: var(--background-color-03);
  --related-posts-title-color: var(--secondary-color);
  --related-post-border-color: var(--border-color);
  --displayed-posts-count-color: var(--text-color-04);
  --displayed-posts-count-rule-background-color: var(--secondary-color);
  --displayed-posts-count-100-rule-background-color: var(--background-color-02);

  --post-summary-background-color: var(--background-color-02);
  --post-summary-category-color: var(--text-color-01);
  --post-summary-category-background-color: var(--secondary-color);
  --post-summary-date-color: var(--text-color-01);
  --post-summary-date-background-color: var(--secondary-color);
  --post-summary-title-color: var(--text-color-03);
  --post-summary-extract-color: var(--text-color-04);
  --post-summary-author-color: var(--primary-color);
  --post-summary-author-icon-color: var(--text-color-04);
  --post-summary-title-color-on-hover: var(--primary-color);
  --post-summary-template-background-color: var(--background-color-02);
  --post-summary-template-top-section-background-color: var(--background-color-03);
  --post-summary-template-title-background-color: var(--background-color-03);
  --post-summary-template-extract-background-color: var(--background-color-03);
  --post-summary-template-author-background-color: var(--background-color-03);

  --tag-color: var(--text-color-04);
  --tag-background-color: var(--background-color-04);
  --category-color: var(--text-color-02);
  --category-background-color: var(--background-color-03);
  --category-color-on-select: var(--text-color-01);
  --category-background-color-on-select: var(--secondary-color);
  --category-background-color-on-hover: var(--secondary-color-on-hover);

  --input-background-color: var(--background-color-02);
  --input-border-color: transparent;
  --input-color: var(--body-color);

  --tab-links-border-color: var(--border-color);
  --tab-links-color: var(--color-03);
  --tab-links-background-color: var(--background-color-03);
  --tab-link-background-color-on-hover: var(--background-color-04);
  --active-tab-link-color: var(--primary-color);
  --active-tab-link-background-color: var(--background-color-04);

  --code-line-number-color: var(--text-color-04);
  --code-line-number-background-color: var(--background-color-04);
  --code-copy-icon-color: var(--text-color-04);
  --code-copy-icon-color-on-hover: var(--primary-color);
  --code-shadow-on-scroll-left: 17px 0 16px -16px rgba(0, 0, 0, 1) inset;

  --comment-background-color: var(--background-color-03);
  --comment-header-border-color: var(--border-color);
  --comments-join-discussion-color: var(--info-color);
  --comments-join-discussion-background-color: var(--info-background-color);

  --buy-me-coffee-color: var(--warn-color);
  --buy-me-coffee-background-color: var(--warn-background-color);
  --buy-me-coffee-button-color: var(--white-color);
  --buy-me-coffee-button-background-color: #dd6b20;

  --footer-color: var(--text-color-03);
  --footer-background-color: var(--background-color-03);

  --advanced-search-inputs-background-color: var(--background-color-02);

  --load-more-posts-color: var(--secondary-color);
  --load-more-posts-background-color: var(--background-color-02);
  --load-more-posts-border-color: var(--secondary-color);
  --load-more-posts-color-on-hover: var(--white-color);
  --load-more-posts-background-color-on-hover: var(--secondary-color);
  --load-more-posts-border-color-on-hover: var(--secondary-color);
  --blockquote-background-color: #282c34;
  --blockquote-color: #6a737d;
  --blockquote-border-color: var(--border-color);
}
