.cookies-consentement-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  padding: 1.5rem 4rem;
  background-color: var(--background-color-03);
  color: var(--body-color);
  transition: 1.5s;
  box-shadow: var(--box-shadow-02);
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .cookies-consentement-msg {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;

    & .iconify {
      flex-shrink: 0;
      flex-grow: 0;
      font-size: 2.5rem;
    }
  }

  &.active {
    bottom: 0;
  }

  & .cookies-consentement-left {
    margin-right: 10rem;
  }

  & .cookies-consentement-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: white;
  }

  & p {
    font-size: 1.4rem;
  }
  & a {
    font-size: 1.4rem;
    text-decoration: underline;
  }

  & button {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    padding: 0.3rem 3rem;
    border: 2px solid var(--border-color);
    background-color: transparent;
    transition: 0.2s;
    border-radius: 100rem;
    font-family: var(--font-family);
    color: var(--body-color);

    &:hover {
      background-color: var(--border-color);
    }
  }
}
