.post-summary-list {
  display: grid;
  grid-template-columns: repeat(var(--post-summary-columns), 1fr);
  grid-gap: var(--post-summary-grid-gap);
  margin-top: var(--post-summary-list-margin-top);
  transition: opacity 0.8s ease-in;
}

.post-summary-list.on-change {
  opacity: 0;
}

.load-more-posts-wrapper {
  margin-top: 5rem;
}

.displayed-posts-count {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--displayed-posts-count-color);
  transition: var(--transition);
  transition-property: color;
}

.displayed-posts-count-rule-wrapper {
  width: 30rem;
  margin: 1.5rem auto 0;
  position: relative;
}

.displayed-posts-count-100-rule {
  background-color: var(--displayed-posts-count-100-rule-background-color);
}

.displayed-posts-count-100-rule,
.displayed-posts-count-rule {
  border-radius: 100rem;
  height: 0.4rem;
  transition: var(--transition);
  transition-property: background-color;
}

.displayed-posts-count-rule {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  background-color: var(--displayed-posts-count-rule-background-color);
}

.load-more-posts {
  margin: 2rem auto 0;
  display: flex;
  width: 30rem;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--load-more-posts-border-color);
  border-radius: 100rem;
  outline: none;
  font-size: 1.35rem;
  font-weight: 600;
  font-family: 'Poppins';
  background-color: var(--load-more-posts-background-color);
  color: var(--secondary-color);
  transition: var(--transition);
  transition-property: color, background-color, border-color;
  cursor: pointer;
  border: none;
  border-radius: 0.6rem;
}

.load-more-posts.hide {
  display: none;
}

.load-more-posts:hover {
  background-color: var(--background-color-04);
}

.no-post-to-display {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.no-post-to-display,
.no-post-to-display a {
  font-size: 1.75rem;
  font-weight: 600;
}

.no-post-to-display p:first-child {
  margin-bottom: 1rem;
}
