@import 'mixin';

.markdown {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }

  & h1 {
    font-size: 2em;
  }

  & h1,
  & h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--border-color);
    transition: var(--transition);
    transition-property: border-color;
  }

  & h2 {
    font-size: 1.5em;
  }

  & h3 {
    font-size: 1.25em;
  }

  & h4 {
    font-size: 1em;
  }

  & h5 {
    font-size: 0.875em;
  }

  & h6 {
    font-size: 0.85em;
    color: #6a737d;
  }

  & h1 {
    font-size: 32px;
  }

  & h1,
  & h2 {
    font-weight: 600;
  }

  & h2 {
    font-size: 24px;
  }

  & h3 {
    font-size: 20px;
  }

  & h3,
  & h4 {
    font-weight: 600;
  }

  & h4 {
    font-size: 16px;
  }

  & h5 {
    font-size: 14px;
  }

  & h5,
  & h6 {
    font-weight: 600;
  }

  & h6 {
    font-size: 12px;
  }

  & blockquote,
  & details,
  & dl,
  & ol,
  & p,
  & pre,
  & table,
  & ul {
    margin-top: 0;
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.65;
    text-align: justify;
  }

  & ol,
  & ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2em;
  }

  & ol ol,
  & ul ol {
    list-style-type: lower-roman;
  }

  & ol ol ol,
  & ol ul ol,
  & ul ol ol,
  & ul ul ol {
    list-style-type: lower-alpha;
  }

  & table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
  }

  & table th {
    font-weight: 600;
  }

  & table td,
  & table th {
    padding: 10px 13px;
  }

  & table.nowrap td,
  & table.nowrap th {
    white-space: nowrap;
  }

  & .table-wrapper {
    margin-bottom: 1.6rem;
    overflow-x: auto;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    & table {
      margin-bottom: 0 !important;
    }
  }

  & table th {
    background-color: var(--border-color);
    transition: var(--transition);
    transition-property: background-color;
  }

  & table tbody tr {
    background-color: var(--table-body-background-color);
    border-bottom: 1px solid var(--border-color);
    transition: var(--transition);
    transition-property: border-color, background-color;
  }

  & h2 {
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    line-height: 1.25;
    padding-bottom: 1rem;
    border-bottom: none !important;
    transition: var(--transition);
    transition-property: border-color;
    font-size: 2.4rem;
    font-weight: 500;
  }

  & h3 {
    font-weight: 600;
    font-size: 16px;
  }

  & img,
  & canvas {
    width: 100%;
    margin: 0.8rem 0;
    border-radius: 0.2rem;
    border: 1px solid var(--border-color);
  }

  & .warning,
  & .warn {
    position: relative;
    padding: 1.5rem 2rem;
    padding-left: 4.8rem;
    color: var(--warn-color);
    background-color: var(--warn-background-color);
    font-size: 1.5rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
  }

  & .info {
    position: relative;
    padding: 1.5rem 2rem;
    padding-left: 4.8rem;
    color: var(--info-color);
    background-color: var(--info-background-color);
    font-size: 1.5rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;

    &::before {
      content: url('https://api.iconify.design/akar-icons/info.svg?color=%230d3c61&width=20&height=20');
      position: absolute;
      top: 1.8rem;
      left: 1.5rem;
    }
  }

  & .error {
    position: relative;
    padding: 1.5rem 2rem;
    padding-left: 4.8rem;
    color: var(--error-color);
    background-color: var(--error-background-color);
    font-size: 1.5rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;

    &::before {
      content: url('https://api.iconify.design/bx/error-circle.svg?color=%23c5221f&width=25&height=25');
      position: absolute;
      top: 2rem;
      left: 1.5rem;
    }
  }
  & .info,
  & .warn,
  & .error {
    & p:last-child {
      margin-bottom: 0;
    }
  }

  & .previous-next-articles {
    display: flex;
    column-gap: 1.7rem;
  }

  & .previous-article,
  & .next-article {
    margin-top: 3rem;
    padding: 1rem 2rem;
    background-color: var(--background-color-03);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    transition: var(--transition);
    transition-property: color, background-color, padding-right, padding-left;
    flex: 1;

    & .previous-article-label-prefix,
    & .next-article-label-prefix {
      color: var(--text-color-03);
      font-weight: 500;
      font-size: 1.35rem;
      margin-bottom: -0.3rem;
    }

    & .previous-article-label,
    & .next-article-label {
      color: var(--primary-color);
      font-weight: 600;
      font-size: 1.6rem;
      transition: var(--transition);
      transition-property: color, background-color;
    }

    & p {
      margin: 0;
    }

    & .iconify {
      font-size: 2.2rem;
      transition: transform 0.15s ease-in;
    }

    &:hover {
      background-color: var(--background-color-04);
    }
  }

  & .previous-article:hover .iconify {
    transform: translateX(-6px) !important;
  }

  & .next-article:hover .iconify {
    transform: translateX(6px) !important;
  }

  & .previous-article-label-prefix {
    text-align: right;
  }
}
