nav {
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--navbar-background-color);
  z-index: 999;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition);
  transition-property: color, background-color, box-shadow;
  box-shadow: var(--navbar-box-shadow);
}

nav.shadow {
}

nav .left {
  display: flex;
}

nav .left a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav .left img {
  height: 2.5rem;
}

nav .left span {
  font-size: 1.7rem;
  font-weight: bold;
  padding-left: 1rem;
  color: var(--logo-text-color);
  transition: var(--transition);
  transition-property: color;
}

nav .left:hover span {
  color: var(--primary-color);
}

nav .right {
  display: flex;
  align-items: center;
}

nav .right .iconify {
  font-size: 2.75rem;
  margin-left: 1rem;
}

nav .right .change-theme-icon {
  display: none;
}
