.search-wrapper {
  width: 100%;
  max-width: 98rem;
  margin: var(--search-input-margin-top) auto 0;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  background-color: var(--input-background-color);
  transition: var(--transition);
  transition-property: color, background-color border-color;
  position: relative;

  &:hover {
    background-color: var(--background-color-04);
  }
}

.search-wrapper .iconify {
  flex-grow: 0;
  font-size: 2.5rem;
  margin-right: 0.7rem;
}

.search-wrapper input {
  flex-grow: 1;
  font-size: 1.6rem;
  border: none;
  outline: none;
  color: var(--input-color);
  background-color: transparent;
  transition: var(--transition);
  transition-property: color, background-color;
}

.search-wrapper .advanced-search-inputs-wrapper {
  z-index: 30;
  padding: 2rem;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--advanced-search-inputs-background-color);
  box-shadow: var(--box-shadow-01);
  transition: var(--transition);
  transition-property: background-color, box-shadow;
}

.search-wrapper .advanced-search-inputs-wrapper .section-title-wrapper {
  margin-bottom: 1.8rem;
  display: flex;
  align-items: center;
}

.search-wrapper .advanced-search-inputs-wrapper .section-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.search-wrapper .advanced-search-inputs-wrapper .iconify {
  font-size: 2rem;
}

.search-wrapper .advanced-search-inputs-wrapper .iconify-wrapper {
  display: flex;
}

.search-wrapper .advanced-search-inputs-wrapper .iconify-wrapper.hide {
  display: none;
}

.search-wrapper .advanced-search-inputs-wrapper .categories-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-wrapper .advanced-search-inputs-wrapper .category {
  cursor: pointer;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}
