@import 'mixin';

:root {
  --main-width: 100% !important;
  @media screen and (max-width: 426px) {
    & .post {
      box-shadow: none;
    }
  }
}

main {
  display: flex;
  flex-direction: row;
}

.post {
  border-radius: 0.6rem;
  margin: var(--post-margin);
  max-width: var(--post-max-width);
  background-color: var(--post-background-color);
  transition: var(--transition);
  transition-property: background-color, box-shadow;
  padding: var(--post-padding);
  min-width: 0;

  & .post__overview::after {
    content: '';
    display: block;
    height: 0.1rem;
    margin: 2rem 0 4rem;
    background: linear-gradient(90deg, #00000000 0%, var(--post-title-border-color) 35%, var(--post-title-border-color) 65%, #00000000 100%);
    transition: var(--transition);
    transition-property: background;
  }

  & .post__title {
    color: var(--post-title-color);
    transition: var(--transition);
    transition-property: color;
    font-size: var(--post-title-font-size);
    font-weight: 100;
    line-height: 1;
    border: none;

    &::first-line {
      font-weight: 500;
    }
  }

  & .post__additional-info {
    margin-top: var(--post-additional-info-margin-top);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--post-additional-info-color);
    transition: var(--transition);
    transition-property: color;
  }

  & .post__additional-info__right,
  & .post__additional-info__left {
    display: flex;
    align-items: center;

    & .iconify {
      font-size: 2rem;
      margin-right: 1rem;
    }

    & .tag {
      margin-right: 0.7rem;
    }
  }
}

.post.post-comments {
  margin-top: 3.5rem !important;
}
