@import 'mixin';

.post-summary,
.post-summary-template {
  width: 100%;
  min-width: 0;
  max-width: var(--post-summary-max-width);
  margin: 0 auto;
}

.post-summary {
  padding: 3rem;
  background-color: var(--post-summary-background-color);
  border-radius: 0.4rem;
  overflow: hidden;
  transition: var(--transition);
  transition-property: background-color, transform, box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-decoration: none !important;

  &:hover {
    background-color: var(--background-color-04);

    & .post-summary__title {
      color: var(--primary-color);
    }

    & .post-summary__extract {
      color: var(--text-color-01);
    }
  }

  & .post-summary__title {
    all: unset;
    color: var(--post-summary-title-color);
    transition: var(--transition);
    transition-property: color, text-decoration;
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  & .post-summary__extract,
  & .post-summary__extract + p {
    all: unset;
    padding-top: 0.5rem;
    color: var(--post-summary-extract-color);
    transition: var(--transition);
    transition-property: color;
    font-size: 1.35rem;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  & .post-summary__read-more {
    margin-top: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: end;
    padding: 0.4rem 1.5rem;
    background-color: var(--background-color-03);
    float: right;
    border-radius: 0.4rem;
    transition: var(--transition);
    transition-property: padding-right, background-color;

    & span {
      font-size: 1.3rem;
      color: var(--primary-color);
      font-weight: 600;
      transition: var(--transition);
      transition-property: color, background-color;
    }

    & .iconify {
      font-size: 1.7rem;
      margin-left: 0.8rem;
      transition: var(--transition);
      transition-property: margin-left, color;
      color: var(--primary-color);
    }

    &:hover {
      background-color: var(--primary-color);
      & span,
      & .iconify {
        color: white;
      }
    }
  }
}

.post-summary-template {
  background-color: var(--post-summary-template-background-color);
  border-radius: 0.4rem;

  & .post-summary-template__bottom-section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    & > div {
      width: 100%;
    }
  }

  & .post-summary-template__title {
    width: 100%;
    height: 2.8rem;
    background-color: var(--post-summary-template-title-background-color);
    border-radius: 0.2rem;
  }

  & .post-summary-template__extract {
    margin-top: 1rem;
    height: 1.6rem;
    background-color: var(--post-summary-template-extract-background-color);
    border-radius: 0.2rem;
  }

  & .post-summary-template__extract:first-child {
    margin-top: 2rem;
  }

  & .post-summary-template__extract:last-child {
    width: 70%;
  }
}
