@import 'mixin';

.related-posts-wrapper {
  padding: 2rem;
  background-color: var(--post-background-color);
  border-radius: 0.5rem;
  max-width: 32rem;
  min-width: 32rem;
  position: sticky;
  top: calc(var(--navbar-height) + 3.5rem);

  & .related-posts-title {
    font-size: 2.2rem;
    margin-top: 0.7rem;
    margin-bottom: 1.7rem;
  }

  & .related-posts {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
  }

  & .related-post-summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0.4rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem 1.7rem;
    color: var(--text-color-02);
    background-color: var(--background-color-03);
    transition: var(--transition);
    transition-property: color, background-color, padding-left;
    border-left: 0.4rem solid var(--secondary-color);
    &:hover {
      background-color: var(--background-color-04);
      padding-left: 2.3rem;
    }
  }

  & .more-tools-button {
    border-radius: 0.4rem;
    text-decoration: none;
    margin-top: 1.7rem;
    padding: 1rem 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    background-color: var(--background-color-03);
    transition: var(--transition);
    transition-property: color, background-color;
    &:hover {
      background-color: var(--background-color-04);
    }

    & .label {
      font-size: 1.4rem;
      font-weight: 600;
    }

    & .iconify {
      color: var(--primary-color);
    }
  }
}

@media screen and (max-width: 1024px) {
  .related-posts-wrapper {
    display: none !important;
  }

  main {
    column-gap: 0 !important;
  }
}
