<!-- code reference: https://stackoverflow.com/questions/9847580/how-to-detect-safari-chrome-ie-firefox-and-opera-browser -->
<script>
  // Opera 8.0+
  const isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

  // Firefox 1.0+
  const isFirefox = typeof InstallTrigger !== 'undefined';

  // Safari 3.0+ "[object HTMLElementConstructor]"
  const isSafari =
    /constructor/i.test(window.HTMLElement) ||
    (function (p) {
      return p.toString() === '[object SafariRemoteNotification]';
    })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));

  // Internet Explorer 6-11
  const isIE = /*@cc_on!@*/ false || !!document.documentMode;

  // Edge 20+
  const isEdge = !isIE && !!window.StyleMedia;

  // Chrome 1 - 79
  const isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);

  // Edge (based on chromium) detection
  const isEdgeChromium = isChrome && navigator.userAgent.indexOf('Edg') != -1;

  // Blink engine detection
  const isBlink = (isChrome || isOpera) && !!window.CSS;

  // https://stackoverflow.com/questions/11381673/detecting-a-mobile-browser
  const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

  if (isIE) {
    console.log('not supported browser!');
    document.body.innerHTML =
      '<p style="font-size: 16px; text-align: center; padding-top: 30px;">Sorry, only Chrome and Firefox are supported by this website!</p>';
  }
</script>
